<div class="form-wrapper">
  <h1>&bull; New Cocktail &bull;</h1>
  <div class="underline">
  </div>
  <div class="icon_wrapper text-center">
    <%= image_tag "cocktail.svg", height: 65 %>
  </div>
  <%= simple_form_for (@cocktail), id: "contact_form" do |f| %>
    <div class="name">
      <%= f.input :name, placeholder: "Cocktail Name" %>
    </div>
    <div class="cocktail-photo">
      <div class="upload-btn-wrapper">
          <div class="upload-field">Cocktail Image</div>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
      </div>
    </div>
    <div class="submit" style="margin-top: 60px">
      <%= f.button :submit, class: "button button-white" %>
    </div>
  <% end %>
</div>
