<div class="form-wrapper">
  <h1>&bull; New Dose &bull;</h1>
  <div class="underline">
  </div>
  <div class="icon_wrapper text-center">
    <%= image_tag "tube.svg", height: 65 %>
  </div>
  <%= simple_form_for [@cocktail, @dose], id: "contact_form" do |f| %>
    <div class="description">
      <%= f.input :description, placeholder: "Dose Amount" %>
    </div>
    <div class="subject">
      <%= f.association :ingredient, prompt: "Ingredient", id: "subject_input" %>
    </div>
    <div class="submit" style="margin-top: 120px">
      <%= f.button :submit, class: "button button-white" %>
    </div>
  <% end %>
</div><!-- // End #container -->
